<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.jianet.mapper.AppointmentMapper">
    <select id="selectAppointmentsByUserId" resultType="com.zyh.jianet.entity.Appointment">
        select id,space_id,booking_date,booking_time,status from jn_appointment where user_number = #{userNumber} and status!=3
    </select>
    <select id="selectAppointmentById" resultType="com.zyh.jianet.entity.Appointment">
        select * from jn_appointment where id = #{id} and status!=3
    </select>
    <insert id="insertAppointment" parameterType="com.zyh.jianet.entity.Appointment">
        insert into jn_appointment (space_id, user_number, status, create_time, booking_date)
        values ( #{spaceId}, #{userNumber}, #{status}, #{createTime}, #{bookingDate})
    </insert>
    <update id="updateAppointment" parameterType="com.zyh.jianet.entity.Appointment">
        update jn_appointment set status=#{status} where id=#{id}
    </update>
    <update id="deleteAppointment" parameterType="com.zyh.jianet.entity.Appointment">
        update jn_appointment set status=3 where id=#{id}
    </update>
    <select id="selectAppointmentCountByTime" parameterType="com.zyh.jianet.entity.Appointment" resultType="int">
        select count(*) from jn_appointment where status=0 and space_id=#{spaceId} and booking_date=#{bookingDate} and booking_time=#{bookingTime}
    </select>
</mapper>