<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.jianet.mapper.SpaceMapper">
    <select id="selectSpace" resultType="com.zyh.jianet.entity.Space">
        select * from jn_space
    </select>
    <select id="selectSpaceById" resultType="com.zyh.jianet.entity.Space">
        select * from jn_space where id = #{id}
    </select>
</mapper>