<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.jianet.mapper.UserMapper">
    <select id="selectUserByNumber" resultType="com.zyh.jianet.entity.User">
        select * from jn_user where number = #{number} and status = 0
    </select>
    <update id="upDateUserPwd">
        update jn_user set password = #{password} where number=#{number}
    </update>
    <update id="updateToken">
        update jn_user set token = #{token} where number=#{number} and status = 0
    </update>
</mapper>